<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-outline-danger" routerLink="manage-stops">Manage Stops</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" routerLink="manage-explore">Manage Explore</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" routerLink="manage-helpline">Manage Helplines</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" routerLink="upload-files">Upload files</button>
        </div>
    </div>
</div>